// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

body {
    background: #f0f056;
    background: linear-gradient(90deg, rgba(240, 240, 86, 1) 0%, rgba(255, 168, 228, 1) 100%);
    min-height: 100vh;
  }
  